# Python
__pycache__/
*.pyc

# virtualenvs
.venv/
.yolo_env/
venv/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# outputs & datasets
runs/
Trained_dataset/
master_dataset/
vehicle_damage_yolo/

# model weights (we host externally)
*.pt
*.pth
*.onnx

# logs
*.log
