# requirements.txt for Vehicle Damage Detection (YOLOv8 project)

# Core dependencies
streamlit>=1.25.0
ultralytics==8.2.90  
opencv-python-headless>=4.8.0.76   # YOLOv8 framework (adjust version if newer/stable needed)
pillow>=10.0.0          # For image handling (PIL)
pyyaml>=6.0.1           # For reading/writing YAML configs

tqdm>=4.65.0
gdown
# Optional but recommended
numpy>=1.23.5           # Array operations
    # Image augmentations, visualization
matplotlib>=3.7.0       # Plotting results (YOLO uses this in reports)
